body {
    background-color: slategray;
}

#SelectionBody {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(15%, -50%);
    width: 75%;
    height: 75%;
    background-color: aqua;
    border-radius: 25%;
}

#Choices {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

#Choices>table {
    display: flex;
    width: 50%;
    height: auto;
    background-color: black;
    border-radius: 25%;
    padding: 5%;
    border-spacing: 1vw;
    border-collapse: separate;
    text-align: center;
}

#Choices td {
    background-color: azure;
    width: 25%;
}

.mainText {
    font-size: 5vw;
}

#Choices .icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}