body {
    background-color: slategray;
    text-align: center;
    display: flex;
    justify-content: center; /* Optional: Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
}

#SelectionBody {
    width: 75%;
    background-color: aqua;
    border-radius: 25%;
    box-shadow: 10px 10px 5px black;
}

button {
    background-color: white;
    display: flex;
    justify-content: center;
    height: auto;
}

.buttonContainer {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    text-align: center;
    gap: 5%; /* Optional: Space between buttons */
}

.centerEl {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.centerEl>table {
    display: table;
    width: 65%;
    height: auto;
    background-color: black;
    border-radius: 25%;
    padding: 5%;
    border-spacing: 1vw;
    border-collapse: separate;
    text-align: center;
    object-fit: contain;
    margin-bottom: 5%;
}

.tableD {
    font-size: 1vw;
}

.centerEl td {
    background-color: azure;
    width: 25%;
}

.mainText {
    font-size: 5vw;
}

.centerEl .icon {
    width: 100%;
    object-fit: contain;
}

@media (max-width: 768px) {

    #SelectionBody {
        margin-bottom: 20%;
    }
}